


$background-color: #F5F5F5;

$banner-color: #468C98;

$buttonBackground:  #51A3A3;

$buttonText-color: #F5F5F5;

$border-color: #D3D3D3;

$desktop-nav-color: #FFFFFF;

$icons-color: black;

$general-text-color: #333333;
