@use './public/styles/index.scss' as *;

.App {
  text-align: center;
  font-family: $desktop-nav-font;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.owl-nav{
  font-size: 75px;
  color: #33333399;
}

.owl-prev {
  position: absolute;
  top: 40%;
  left: -10px;
  display: block !important;
  border:0px solid black;
}
.owl-next {
  position: absolute;
  top: 40%;
  right: -15px;
  display: block !important;
  border:0px solid black;
}


.owl-theme .owl-nav [class*='owl-']:hover {
  background: none;
  color: #33333399;
  text-decoration: none;
}
.MuiImageListItemBar-title{
  white-space: normal !important;
}